{% extends 'layout/base_hf.html' %}

{% block title %} Xác nhận địa chỉ email {% endblock %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/alert.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}" type="text/css"/>
    <style>
        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class="my_alert">
        <div class="alertbox alertbox-info">
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <div class="alertbox__icon"><i class="fa-solid fa-circle-info"></i></div>
                <div class="alertbox__title">
                    <h2>Xác nhận địa chỉ email</h2>
                </div>
                <div class="alertbox__text">Vui lòng xác nhận địa chỉ email <a href="mailto:{{ email }}">{{ email }}</a></div>
                <button type="submit" class="button button--size-s">Xác nhận</button>
            </form>
        </div>
    </div>
{% endblock %}