{% extends 'settings/layout/base.html' %}

{% block title %} Thay đổi mật khẩu {% endblock %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'settings/css/style.css' %}" type="text/css"/>
{% endblock %}

{% block form %}
    <div class="box-group">
        {% if message %}
            {% if message_status %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endif %}
        <form method="post" action="{% url 'password_change' %}">
            {% csrf_token %}
            <div class="box-group-header fw-bold title">Thay đổi mật khẩu đăng nhập</div>
            <div class="row m-3">
                <label for="email" class="control-label text-secondary p-0 align-self-center fw-bold">Email đăng nhập</label>
                <input name="email" type="email" id="email" class="form-control" value="{{ request.user.email }}" disabled>
            </div>
            <div class="row m-3">
                {% if request.user.has_usable_password %}
                    <label class="control-label text-secondary fw-bold p-0 align-self-center" for="current_password">Nhập mật khẩu hiện tại
                        <span class="text-danger">*</span></label>
                    <input name="old_password" id="current_password" class="form-control" type="password"
                           placeholder="Nhập mật khẩu hiện tại" required>
                {% else %}
                    <label class="control-label text-secondary fw-bold p-0 align-self-center" for="current_password">Nhập mật khẩu hiện
                        tại</label>
                    <input name="old_password" id="current_password" class="form-control" type="password"
                           placeholder="Bạn chưa đặt mật khẩu cho tài khoản này" disabled>
                {% endif %}
            </div>
            <div class="row m-3">
                <label class="control-label text-secondary p-0 align-self-center fw-bold" for="new_password">Nhập mật khẩu mới <span
                        class="text-danger">*</span></label>
                <input name="new_password" id="new_password" type="password" class="form-control" placeholder="Nhập mật khẩu mới" required>
            </div>
            <div class="row m-3">
                <label class="control-label text-secondary p-0 align-self-center fw-bold" for="new_confirm">Nhập lại mật khẩu mới <span
                        class="text-danger">*</span></label>
                <input name="new_password_confirm" id="new_confirm" type="password" class="form-control" placeholder="Nhập lại mật khẩu mới"
                       required>
            </div>
            <div class="row m-3">
                <div style="">
                    <button class="btn btn-primary pe-4 ps-4" type="submit"
                            style="background-color: #022F40; color:white">Lưu
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}