{% extends 'layout/base_hf.html' %}

{% block title %} Tìm việc làm {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'job/css/reset.css' %}" type="text/css"/>
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'job/css/search_job.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="banner">
        <div class="banner__head text-center">
            Tìm việc làm nhanh 24h, việc làm mới nhất trên toàn quốc.
            <span><br>Tiếp cận <b>40,000+</b> tin tuyển dụng việc làm mỗi ngày từ hàng nghìn doanh nghiệp uy tín tại
                Việt Nam</span>
        </div>
        <!----------------------------->
        <div class="banner__button d-flex align-items-center justify-content-center">
            <!-- button tìm kiếm vị trí -->
            <div class="banner__button-search d-flex btn-group p-1">
                <div class="banner__button-pos banner__button-select d-flex justify-content-center">
                    <i class="fi fi-rr-search align-self-center"></i>
                    <input type="text" placeholder="Vị trí tuyển dụng">
                </div>
                <div class="banner__button-select d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-light text-dark dropdown-toggle"
                            data-bs-toggle="dropdown">
                        <i class="fi fi-sr-marker"></i>
                        Tất cả tỉnh / Thành phố
                    </button>
                    <ul class="dropdown-menu banner__button-location ">
                        {% for location in location_list %}
                            <li><a class="dropdown-item" href="#">{{ location }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="me-3">
                <button type="button" class="btn btn-outline-info dropdown-toggle p-2" data-bs-toggle="dropdown">
                    <i class="fi fi-br-circle-star"></i>
                    Tất cả kinh nghiệm
                </button>
                <ul class="dropdown-menu" style="width: 220px">
                    <li><a class="dropdown-item" href="#">Chưa có kinh nghiệm</a></li>
                    <li><a class="dropdown-item" href="#">Dưới 1 năm</a></li>
                    <li><a class="dropdown-item" href="#">1 năm</a></li>
                    <li><a class="dropdown-item" href="#">2 năm</a></li>
                </ul>
            </div>
            <!-------------button mức lương---------->
            <div class="me-3">
                <button type="button" class="btn  btn-outline-info dropdown-toggle p-2" data-bs-toggle="dropdown">
                    <i class="fi fi-rr-usd-circle"></i>
                    Tất cả mức lương
                </button>
                <ul class="dropdown-menu p-2">
                    <li>
                        <input type="number">-<input type="number">triệu
                    </li>
                    <button class="btn btn-primary m-2" style="width: 94%">Áp dụng</button>
                    <li><a class="dropdown-item" href="#">Dưới 10 triệu</a></li>
                    <li><a class="dropdown-item" href="#">10-15 triệu</a></li>
                    <li><a class="dropdown-item" href="#">15-20 triệu</a></li>
                    <li><a class="dropdown-item" href="#">20-25 triệu</a></li>
                </ul>
            </div>
            <button class="btn btn-primary btn-search"> Tìm kiếm</button>
        </div>
        <!----------------------------->
        <!-- (BANNER - SLIDESHOW) -->
        <div id="demo" class="banner__slideshow carousel slide container pt-5" data-bs-ride="carousel">
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <img src="{% static 'job/images/banner/bn1.jpg' %}" alt="" class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'job/images/banner/bn2.jpg' %}" alt="" class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'job/images/banner/bn3.jpg' %}" alt="" class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'job/images/banner/bn4.jpg' %}" alt="" class="d-block" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'job/images/banner/bn5.jpg' %}" alt="" class="d-block" style="width:100%">
                </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <!-- việc làm tốt nhất -->
    <div class="content">
        <div class="content__head d-flex justify-content-between">
            <div class="content__header--left d-flex col-sm-6">
                <h3 class="content__header-title">VIỆC LÀM TỐT NHẤT</h3>
                <img class="content__header-icon" src="image/content/1.png" alt="">
            </div>
        </div>
        <!------------container viec lam tot nhat--------------->
        <div class="content__container ">
            {% for job in jobs %}
                <div class="content__container--item"><!--item1-->
                    <div class="content__container--item-head d-flex justify-content-around">
                        <img class="content__container--img"
                             src="{{ job.company.account.avatar }}" alt="{{ job.company.company_name }}">
                        <div class="content__container--title">
                            <p data-bs-toggle="modal" data-bs-target="#myModal">{{ job.name }}</p>
                            <a href="{% url 'detail_job' job.id %}" data-bs-toggle="tooltip"
                               data-bs-placement="top">{{ job.company.company_name }}</a>
                        </div>
                    </div>
                    <div class="content__container-sub-head">
                        <span>{{ job.salary_start }} - {{ job.salary_end }} triệu</span>
                        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip"><a href="{% url 'detail_job' job.id %}">Xem
                            thêm</a></button>
                    </div>
                    <div class="content__container-icon"><i class="fi fi-ss-heart"></i></div>
                </div>
            {% endfor %}
        </div>
        <!----Top ngành nghề nổi bật-->
        <div class="topjob d-flex">
            <div class="card">
                <img class="card-img-top" src="{% static 'job/images/topjob/1.png' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Kinh doanh/ Bán hàng</h4>
                    <span class="card-text">11.704 việc làm</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'job/images/topjob/2.png' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">IT phần mềm</h4>
                    <span class="card-text">3.105 việc làm</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'job/images/topjob/3.png' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Hành chính/ Văn phòng</h4>
                    <span class="card-text">3.511 việc làm</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'job/images/topjob/4.png' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Giáo dục / Đào tạo</h4>
                    <span class="card-text">2.857 việc làm</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'job/images/topjob/5.png' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Tư vấn</h4>
                    <span class="card-text">4.018 việc làm</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'job/images/topjob/6.png' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Truyền thông/ Quảng cáo</h4>
                    <span class="card-text">8.567 việc làm</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'job/images/topjob/7.png' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Vận tải/ Kho vận</h4>
                    <span class="card-text">6.067 việc làm</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'job/images/topjob/8.png' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Kế toán / Kiểm toán</h4>
                    <span class="card-text">7.507 việc làm</span>
                </div>
            </div>
        </div>
        <!---nha tuyển dụng nổi bật-->
        <div class="employer">
            <h3 class="content__header-title">NHÀ TUYỂN DỤNG NỔI BẬT</h3>

            <div class="employer__list">

                <div class="employer__item">
                    <img class="employer__item-img" src="{% static 'job/images/employer/1.jpg' %}" alt="">
                    <div class="employer__item--icon">
                        <span>TOP</span>
                        <i class="fi fi-rr-gem"></i>
                    </div>
                </div>
                <div class="employer__item">
                    <img class="employer__item-img" src="{% static 'job/images/employer/2.png' %}" alt="">
                    <div class="employer__item--icon">
                        <span>TOP</span>
                        <i class="fi fi-rr-gem"></i>
                    </div>
                </div>
                <div class="employer__item">
                    <img class="employer__item-img" src="{% static 'job/images/employer/3.jpg' %}" alt="">
                    <div class="employer__item--icon">
                        <span>TOP</span>
                        <i class="fi fi-rr-gem"></i>
                    </div>
                </div>
                <div class="employer__item">
                    <img class="employer__item-img" src="{% static 'job/images/employer/4.png' %}" alt="">
                    <div class="employer__item--icon">
                        <span>TOP</span>
                        <i class="fi fi-rr-gem"></i>
                    </div>
                </div>
                <div class="employer__item">
                    <img class="employer__item-img" src="{% static 'job/images/employer/5.png' %}" alt="">
                    <div class="employer__item--icon">
                        <span>TOP</span>
                        <i class="fi fi-rr-gem"></i>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
                integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
                integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
            $('.autoplay').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });</script>
{% endblock %}