{% extends 'layout/base_hf.html' %}

{% block title %} Việc làm phù hợp {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'job/css/reset.css' %}" type="text/css"/>
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'job/css/suitable_job.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'job/css/style.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <section>
        <div class="banner">
            <!----------------------------->
            <div class=" banner__button d-flex justify-content-center">
                <!-- button tìm kiếm vị trí -->
                <div class="banner__button-search d-flex btn-group p-1">
                    <div class="banner__button-pos banner__button-select d-flex justify-content-center">
                        <i class="fi fi-rr-search align-self-center"></i>
                        <input type="text" placeholder="Vị trí tuyển dụng">
                    </div>
                    <div class="banner__button-select d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-light text-dark dropdown-toggle"
                                data-bs-toggle="dropdown">
                            <i class="fi fi-sr-marker"></i>
                            Tất cả tỉnh / Thành phố
                        </button>
                        <ul class="dropdown-menu banner__button-location ">
                            {% for location in location_list  %}
                                    <li><a class="dropdown-item" href="javascript:void(0)">{{ location }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="me-3 p-1">
                    <button type="button" class="btn btn-outline-info dropdown-toggle p-2" data-bs-toggle="dropdown">
                        <i class="fi fi-br-circle-star"></i>
                        Tất cả kinh nghiệm
                    </button>
                    <ul class="dropdown-menu" style="width: 220px">
                        <li><a class="dropdown-item" href="#">Chưa có kinh nghiệm</a></li>
                        <li><a class="dropdown-item" href="#">Dưới 1 năm</a></li>
                        <li><a class="dropdown-item" href="#">1 năm</a></li>
                        <li><a class="dropdown-item" href="#">2 năm</a></li>
                    </ul>
                </div>
                <!-------------button mức lương---------->
                <div class="me-3 p-1">
                    <button type="button" class="btn  btn-outline-info dropdown-toggle p-2" data-bs-toggle="dropdown">
                        <i class="fi fi-rr-usd-circle"></i>
                        Tất cả mức lương
                    </button>
                    <ul class="dropdown-menu p-2">
                        <li>
                            <input type="number">-<input type="number">triệu
                        </li>
                        <button class="btn btn-primary m-2" style="width: 94%">Áp dụng</button>
                        <li><a class="dropdown-item" href="#">Dưới 10 triệu</a></li>
                        <li><a class="dropdown-item" href="#">10-15 triệu</a></li>
                        <li><a class="dropdown-item" href="#">15-20 triệu</a></li>
                        <li><a class="dropdown-item" href="#">20-25 triệu</a></li>
                    </ul>
                </div>
                <button class="btn btn-primary btn-search"> Tìm kiếm</button>
            </div>
        </div>
        <div class="box d-flex ">
            <div class="box__left col-8">
                <!---job phù hợp-->
                <div class="goodjob pt-1">
                    <h3 class="container mt-3">Việc làm phù hợp với bạn</h3>
                    <div class="googjob__list">
                        <div class="goodjob__item d-flex">
                            <img src="https://rubee.com.vn/wp-content/uploads/2021/06/logo-cong-ty-may-viet-tien.jpg"
                                 alt="">
                            <div class="container pt-3">
                                <p class="fw-bold">Account Executive (Mảng Offline/Activation/Event/Roadshow) Tại Hóc
                                    Môn</p>
                                <p>CÔNG TY TNHH OMNI-D</p>
                                <p>Cập nhật 5 giờ trước</p>
                                <div class="row mt-5 d-flex">
                                    <div class="col-8 mt-2">
                                        <span data-bs-toggle="tooltip" title="Hồ Chí Minh:Hooc Môn">Hồ Chí Minh</span>
                                        <span>Còn 26 ngày để ứng tuyển</span>
                                    </div>
                                    <div class="col-4 goodjob__button d-flex justify-content-end">
                                        <button type="button" class="btn btn-info">Ứng tuyển</button>
                                        <i class="fi fi-rs-heart"></i>
                                        <i class="fi fi-rs-trash"></i>
                                    </div>
                                </div>
                                <span class="slr"><i class="fi fi-sr-sack-dollar"></i>ㅤThỏa Thuận</span>
                            </div>
                        </div>
                        <div class="goodjob__item d-flex">
                            <img src="https://media.loveitopcdn.com/3807/logo-mc-travel-compressed.jpg" alt="">
                            <div class="container pt-3">
                                <p class="fw-bold">Cán Bộ Hành Chính Tổng Hợp_Fpl HCM</p>
                                <p>PHÂN HIỆU TRƯỜNG ĐẠI HỌC FPT TẠI THÀNH PHỐ HỒ CHÍ MINH</p>
                                <p>Cập nhật 1 giờ trước</p>
                                <div class="row mt-5 d-flex">
                                    <div class="col-8 mt-2">
                                        <span data-bs-toggle="tooltip" title="Hồ Chí Minh:Hooc Môn">Hồ Chí Minh</span>
                                        <span>Còn 26 ngày để ứng tuyển</span>
                                    </div>
                                    <div class="col-4 goodjob__button d-flex justify-content-end">
                                        <button type="button" class="btn btn-info">Ứng tuyển</button>
                                        <i class="fi fi-rs-heart"></i>
                                        <i class="fi fi-rs-trash"></i>
                                    </div>
                                </div>
                                <span class="slr"><i class="fi fi-sr-sack-dollar"></i>ㅤ20 - 40 triệu</span>
                            </div>
                        </div>
                        <div class="goodjob__item d-flex">
                            <img src="https://marketplace.canva.com/EAE85VgPq3E/1/0/1600w/canva-v%E1%BA%BD-tay-h%C3%ACnh-tr%C3%B2n-logo-c3Jw1yOiXJw.jpg"
                                 alt="">
                            <div class="container pt-3">
                                <p class="fw-bold">Nhân Viên Sale Thu Nhập Từ 8 Đến 18 Triệu Tại TP HCM</p>
                                <p>CÔNG TY TNHH SẢN XUẤT THƯƠNG MẠI TÔ NGA DŨNG</p>
                                <p>Cập nhật 19 giờ trước</p>
                                <div class="row mt-5 d-flex">
                                    <div class="col-8 mt-2">
                                        <span data-bs-toggle="tooltip" title="Hồ Chí Minh:Hooc Môn">Hồ Chí Minh</span>
                                        <span>Còn 26 ngày để ứng tuyển</span>
                                    </div>
                                    <div class="col-4 goodjob__button d-flex justify-content-end">
                                        <button type="button" class="btn btn-info">Ứng tuyển</button>
                                        <i class="fi fi-rs-heart"></i>
                                        <i class="fi fi-rs-trash"></i>
                                    </div>
                                </div>
                                <span class="slr"><i class="fi fi-sr-sack-dollar"></i>ㅤ8 - 20 triệu</span>
                            </div>
                        </div>
                        <div class="goodjob__item d-flex">
                            <img src="https://thicao.com/wp-content/uploads/2019/03/Logo-Doji-1.jpg" alt="">
                            <div class="container pt-3">
                                <p class="fw-bold">Chuyên Viên Tư Vấn Và Chăm Sóc Khách Hàng Tại Hồ Chí Minh - Tuổi Từ
                                    23 Trở Lên (Lương Cố
                                    Định
                                    16,8-26 Triệu + Hoa Hồng) - Không Yêu Cầu Kinh Nghiệm</p>
                                <p>CÔNG TY NEST BY AIA</p>
                                <p>Cập nhật 5 giờ trước</p>
                                <div class="row mt-5 d-flex">
                                    <div class="col-8 mt-2">
                                        <span data-bs-toggle="tooltip" title="Hồ Chí Minh:Hooc Môn">Hồ Chí Minh</span>
                                        <span>Còn 26 ngày để ứng tuyển</span>
                                    </div>
                                    <div class="col-4 goodjob__button d-flex justify-content-end">
                                        <button type="button" class="btn btn-info">Ứng tuyển</button>
                                        <i class="fi fi-rs-heart"></i>
                                        <i class="fi fi-rs-trash"></i>
                                    </div>
                                </div>
                                <span class="slr"><i class="fi fi-sr-sack-dollar"></i>ㅤ16.8 - 26 triệu</span>
                            </div>
                        </div>
                        <div class="goodjob__item d-flex">
                            <img src="https://huongsenvietdongthap.com/wp-content/uploads/2021/03/BigC.jpg" alt="">
                            <div class="container pt-3">
                                <p class="fw-bold">Fresher Software Engineer (The Training Program)</p>
                                <p>CÔNG TY TNHH ATHENA STUDIO</p>
                                <p>Cập nhật 5 giờ trước</p>
                                <div class="row mt-5 d-flex">
                                    <div class="col-8 mt-2">
                                        <span data-bs-toggle="tooltip" title="Hồ Chí Minh:Hooc Môn">Hồ Chí Minh</span>
                                        <span>Còn 26 ngày để ứng tuyển</span>
                                    </div>
                                    <div class="col-4 goodjob__button d-flex justify-content-end">
                                        <button type="button" class="btn btn-info">Ứng tuyển</button>
                                        <i class="fi fi-rs-heart"></i>
                                        <i class="fi fi-rs-trash"></i>
                                    </div>
                                </div>
                                <span class="slr"><i class="fi fi-sr-sack-dollar"></i>ㅤ15 - 18 triệu</span>
                            </div>
                        </div>
                        <div class="goodjob__item d-flex">
                            <img src="https://vietartproductions.com/wp-content/uploads/2022/05/Logo-theCC82CC81-gioCC9BCC81i-di-C491oCCA3CC82ng-file-vector.png"
                                 alt="">
                            <div class="container pt-3">
                                <p class="fw-bold">Cộng Tác Viên Thu Hồi Nợ Qua Điện Thoại (B3 – B7)</p>
                                <p>Ngân hàng Thương Mại Cổ Phần Tiên Phong - Trung tâm Fico</p>
                                <p>Cập nhật 5 giờ trước</p>
                                <div class="row mt-5 d-flex">
                                    <div class="col-8 mt-2">
                                        <span data-bs-toggle="tooltip" title="Hồ Chí Minh:Hooc Môn">Hồ Chí Minh</span>
                                        <span>Còn 26 ngày để ứng tuyển</span>
                                    </div>
                                    <div class="col-4 goodjob__button d-flex justify-content-end">
                                        <button type="button" class="btn btn-info">Ứng tuyển</button>
                                        <i class="fi fi-rs-heart"></i>
                                        <i class="fi fi-rs-trash"></i>
                                    </div>
                                </div>
                                <span class="slr"><i class="fi fi-sr-sack-dollar"></i>ㅤ10 - 12 triệu</span>
                            </div>
                        </div>
                        <div class="goodjob__item d-flex">
                            <img src="https://inhoangkien.vn/wp-content/uploads/2020/12/Logo-Interserco-new-01-1024x791.jpg"
                                 alt="">
                            <div class="container pt-3">
                                <p class="fw-bold">Nhân Viên Thu Ngân</p>
                                <p>Công ty TNHH Dịch Vụ Sửa Chữa Điện Thoại Vui</p>
                                <p>Cập nhật 5 giờ trước</p>
                                <div class="row mt-5 d-flex">
                                    <div class="col-8 mt-2">
                                        <span data-bs-toggle="tooltip" title="Hồ Chí Minh:Hooc Môn">Hồ Chí Minh</span>
                                        <span>Còn 26 ngày để ứng tuyển</span>
                                    </div>
                                    <div class="col-4 goodjob__button d-flex justify-content-end">
                                        <button type="button" class="btn btn-info">Ứng tuyển</button>
                                        <i class="fi fi-rs-heart"></i>
                                        <i class="fi fi-rs-trash"></i>
                                    </div>
                                </div>
                                <span class="slr"><i class="fi fi-sr-sack-dollar"></i>ㅤ7 - 9 triệu</span>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                    class="fi fi-br-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                    class="fi fi-br-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="desc d-flex">
                    <img class="d-block" src="{% static 'job/images/cn.png' %}" alt="">
                    <div class="col-7 pt-4">
                        <p>Việc làm chưa đúng nhu cầu của bạn?</p>
                        <p>Cập nhật <a class="text-info" href="">Cài đặt gợi ý việc làm</a> ngay để TopCV tối ưu giúp
                            bạn</p>
                    </div>
                    <button type="button" class="btn btn-info">Cập nhật ngay -></button>
                </div>
            </div>
            <div class="box__right col-4">
                <div class="profile">
                    <div class="profile-info d-flex">
                        <img src="{{ request.user.avatar }}" alt="Avatar của {{ request.user.user.full_name }}"
                             class="align-self-center"/>
                        <div class="container pt-3">
                            <p>Chào bạn,</p>
                            <p class="fw-bold">{{ request.user.user.full_name }}</p>
                            {% if user_email_verified %}
                                <span class="text-secondary d-block medium-text text-success">Tài khoản đã xác thực</span>
                            {% elif request.user.is_superuser %}
                                <span class="text-secondary d-block medium-text text-info">Tài khoản Admin</span>
                            {% else %}
                                <span class="text-secondary d-block medium-text text-danger">Tài khoản chưa được xác thực</span>
                            {% endif %}
                        </div>
                    </div>
                    <!---------------->
                    <div class="container">
                        <p class="small-text"><i class="fa fa-check-circle" aria-hidden="true"
                                                 style="color: #38aecc;"></i> Nhắn tin qua Blue Connect trên BlueCC</p>
                        <p class="small-text"><i class="fa fa-check-circle" aria-hidden="true"
                                                 style="color: #38aecc"></i> Email và Số điện thoại của bạn</p>
                    </div>
                    <img class="container pt-3" src="{% static 'settings/images/BlueCCCardboard.png' %}" alt="">
                    <div class="">
                        <p class="container pt-3 small-text text-secondary">
                            <i class="fa fa-info-circle" aria-hidden="true" style="color:#38aecc"></i> Bạn cần hoàn
                            thiện trên 70% CV Profile để bắt đầu tiếp cận với nhà tuyển dụng
                        </p>
                    </div>
                    <a href="#">
                        <button type="button" class="btn btn-outline-info ms-2">Cập nhật CV</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}