* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 12px 48px;
  min-width: 200px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  border-radius: 50px;
  background: var(--main-blue);
  margin-top: 12px;
  transition: opacity 0.2s linear;
}
.button + .button {
  margin-left: 12px;
}
.button:hover {
  opacity: 0.8;
  color: var(--main-blue);
  background-color: var(--light-blue);
}
.button--info {
  background: #2f86eb;
}
.button--success {
  background: #47d864;
}
.button--warning {
  background: #ffc021;
}
.button--error {
  background: #ff623d;
}
.button--disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.5 !important;
}
.button--size-s {
  padding: 8px 32px;
}
.button--size-l {
  padding: 16px 56px;
}