{% extends 'layout/base_hf.html' %}

{% block title %} Chi tiết công ty {% endblock %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'company/css/company_detail.css' %}" type="text/css"/>
{% endblock %}

{% block jsbody %}
    <script>
        function copyToClipBoard() {
            const copyText = document.getElementById("text-to-copy");

            copyText.select();
            copyText.setSelectionRange(0, 99999);

            navigator.clipboard.writeText(copyText.value);

            alert("Copied the text: " + copyText.value);
        }
    </script>
{% endblock %}

{% block content %}
    <section>
        <!-- phần category -->
        <div class="company_cover">
            <div class="container">
                <div class="cover_company-image">
                    <img src="{{ company.avatar }}" alt="{{ company.company.company_name }}">
                </div>
                <div class="avatar_company-logo">
                    <div class="avatar_company-image">
                        <img src="{{ company.avatar }}" alt="{{ company.company.company_name }}">
                    </div>
                </div>

                <!-- Trang chi tiết công ty -->
                <div class="infor_company">
                    <div class="box_info">
                        <h2 style="margin-bottom: 20px;">{{ company.company.company_name }}</h2>
                        <div class="box_info-sub">
                            <div><span>
                                <img src="{% static 'company/images/network.png' %}" alt="">
                                <a href="{{ company.company.social_link }}"
                                   style="text-decoration: none; color: var(--white);">{{ company.company.social_link }}</a>
                            </span></div>
                            <div><span><img src="{% static 'company/images/company.png' %}" alt="">{{ company.company.number_of_employees }}+</span>
                            </div>
                            <div><span><img src="{% static 'company/images/group.png' %}" alt="">{{ company.company.followers }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="box_follow">
                        <button type="button" class="btn btn-primary"><img src="{% static 'company/images/plus.png' %}" alt="">Theo dõi
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- phần body, bắt đầy từ mục giới thiệu công ty -->
        <div class="company_content">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <!-- content -->
                        <div class="content_infor">
                            <h5 class="title_content">Giới thiệu công ty</h5>
                            <div class="content_body">
                                <div class="content">
                                    {{ company.company.description|safe }}
                                </div>
                            </div>
                        </div>

                        <div class="content_recruitment">
                            <!-- các vị trí tuyển dụng -->
                            <h5 class="title_recruitment">Tuyển dụng</h5>
                            <div class="recruitment_body">
                                <!-- Thanh tìm kiếm tuyển dụng -->
                                <div class="recruitment_search">
                                    <div class="form-group">
                                        <select class="form-control" id="city" name="city">
                                            <option value="hanoi">Tất cả tỉnh/thành phố</option>
                                            <option value="hanoi">Hà Nội</option>
                                            <option value="hochiminh">Hồ Chí Minh</option>
                                            <option value="danang">Đà Nẵng</option>
                                            <option value="haiphong">Hải Phòng</option>
                                            <option value="hue">Huế</option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3 ms-2">
                                        <input type="text" class="form-control" placeholder="Tìm công việc vị trí ứng tuyển">
                                        <button class="btn btn-success" type="submit">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>

                            <div class="recruitment_content">
                                <!-- chi tiết từng vị trí tuyển dụng -->
                                {% for jd in jds %}
                                <div class="recruitment-item">
                                    <div class="avatar">
                                        <img src="{{ company.avatar }}"
                                             alt="{{ company.company.company_name }}">
                                    </div>
                                    <div class="body">
                                        <div class="body_content">
                                            <div>
                                                <div class="wage_title title">
                                                    <a href="{% url 'detail_job' jd.id %}" data-bs-toggle="tooltip" data-bs-placement="top"
                                                       title="Giám Sát Kinh Doanh Toàn Quốc">
                                                        {{ jd.name }}
                                                    </a>
                                                    <p class="text">{{ jd.salary_start }}-{{ jd.salary_end }} triệu</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="body_infor ">
                                            <div class="lable_list">
                                                <div class="list-group list-group-horizontal">
                                                    {% load filter %}
                                                    <a href="{% url 'detail_job' jd.id %}" class="list-group-item list-group-item-action list-group-item-secondary">{{ jd.updated_date|hours_since_updated }}</a>
                                                </div>
                                            </div>
                                            <div class="body_infor-icon">
                                                <a href="{% url 'detail_job' jd.id %}">
                                                    <button type="button" class="btn btn-primary">Ứng tuyển</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="recruitment-item">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Thanh thông tin liên hệ -->
                    <div class="col-4">
                        <!-- Thông tin liên hệ -->
                        <div class="content_contact">
                            <h5 class="title_content">Thông tin liên hệ</h5>
                            <div class="contact_body">
                                <div class="item">
                                    <div class="item_caption text">
                                        <img src="{% static 'company/images/map.png' %}" alt="">Địa chỉ công ty
                                    </div>
                                    <div class="item_desc">{{ company.company.address }}</div>
                                </div>

                                <div class="item">
                                    <div class="item_caption text">
                                        <img src="{% static 'company/images/mail.png' %}" alt="">Địa chỉ Email
                                    </div>
                                    <div class="item_desc"><a href="mailto:{{ company.email }}">{{ company.email }}</a></div>
                                </div>
                                <div class="item">
                                    <div class="item_caption text">
                                        <img src="{% static 'company/images/phone.png' %}" alt="">Số điện thoại liên hệ
                                    </div>
                                    <div class="item_desc"><a href="tel:{{ company.phone_number }}">{{ company.phone_number }}</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Chia sẻ với bạn bè -->
                        <div class="content_contact">
                            <h5 class="title_content">Chia sẻ công ty tới bạn bè</h5>
                            <div class="contact_body">
                                <!-- Thanh sao chép link -->
                                <div class="item">
                                    <div class="item_caption text" style="margin-bottom: 10px;">
                                        Sao chép đường dẫn
                                    </div>
                                    <div class="item_copy">
                                        <input id="text-to-copy" type="text" class="form-control"
                                               value="{{ request.build_absolute_uri }}" readonly>
                                        <button onclick="copyToClipBoard()" class="btn btn-primary ms-2" id="copy-button">
                                            <img src="{% static 'company/images/copy.png' %}" alt="">
                                        </button>
                                    </div>
                                </div>
                                <!-- Các link tới mạng sẽ hội -->
                                <div class="item_search">
                                    <div class="item_caption text">
                                        Chia sẻ trên mạng xã hội
                                    </div>
                                    <div class="item_social">
                                        <a href=""><img src="{% static 'company/images/facebook.png' %}" alt=""></a>
                                        <a href=""><img src="{% static 'company/images/twitter.png' %}" alt=""></a>
                                        <a href=""><img src="{% static 'company/images/linkedin.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}