{% extends 'layout/base.html' %}

{% block title %} Đăng ký tài khoản doanh nghiệp {% endblock %}

{% load static %}
{% load socialaccount %}

{% block css %}
    <link rel="stylesheet" href="{% static 'user/css/register.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'company/css/account.css' %}" type="text/css"/>
{% endblock %}

{% block jsbody %}
    <script src="{% static 'company/js/company_signup.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="wrap-auth-section">
        <div class="bg-right">
        </div>
        <div class="auth">
            {% csrf_token %}
            <div class="mb-3 mt-3">
                <label for="company_name" class="form-label">Tên doanh nghiệp:</label>
                <div class="form-wrapper">
                    <i class="fi fi-sr-circle-user"></i>
                    <input type="text" class="form-control" placeholder="Nhập tên công ty" name="company_name" id="company_name" required>
                </div>

            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email doanh nghiệp:</label>
                <div class="form-wrapper">
                    <i class="fi fi-sr-envelope"></i>
                    <input type="email" class="form-control" id="email" placeholder="Nhập email" name="email" required>
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label for="phone" class="form-label">Số điện thoại doanh nghiệp:</label>
                <div class="form-wrapper">
                    <i class="fi fi-sr-envelope"></i>
                    <input type="number" class="form-control" id="phone" placeholder="Nhập số điện thoại" name="phone" min="0" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu:</label>
                <div class="form-wrapper">
                    <i class="fi fi-sr-lock"></i>
                    <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="confirm" class="form-label">Xác nhận mật khẩu:</label>
                <div class="form-wrapper">
                    <i class="fi fi-sr-lock"></i>
                    <input type="password" class="form-control" id="confirm" placeholder="Nhập lại mật khẩu"
                           name="confirm" required>
                </div>
            </div>
            <button type="submit" class="btn-submit btn btn-primary">Đăng ký</button>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input id="policy_check" class="form-check-input" type="checkbox" name="policy_check" value="policy_check"> Tôi đã đọc và đồng ý
                    với Điều khoản dịch vụ và Chính sách bảo mật của BlueCC.
                </label>
            </div>

            <div class="not-account text-center">
                <span>Bạn đã có tài khoản? </span>
                <a href="{% url 'company_login' %}">Đăng nhập ngay</a>
            </div>
            <div class="support text-center">
                <p>Bạn gặp khó khăn khi đăng ký?</p>
                <p>Vui lòng liên hệ <a href="#">0123456789</a> để được hỗ trợ.</p>
            </div>
            <div class="copy-right text-center">©️ 2023. All Rights Reserved. BlueCC VietNam</div>
        </div>
        <div class="bg-right" style="transform: scaleX(-1);">
        </div>
    </div>
{% endblock %}