{% extends 'user/layout/base.html' %}

{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %} Quên mật khẩu {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'user/css/reset_password.css' %}" type="text/css"/>
    {{ block.super }}
{% endblock %}

{% block auth %}
<h3>Tạo mật khẩu mới</h3>
{% if message %}
    {% if message_status %}
        <div class="alert alert-success">{{ message }}</div>
    {% else %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
{% endif %}
{% autoescape off %}
<form method="post" action="{% url 'set_password' uidb64=uid token=token %}">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label for="new_password" class="form-label">Mật khẩu mới:</label>
        <div class="form-wrapper">
            <i class="fi fi-sr-lock"></i>
            <input type="password" class="form-control" id="new_password" placeholder="Mật khẩu mới" name="new_password">
        </div>
    </div>
    <div class="mb-3 mt-3">
        <label for="confirm_new_password" class="form-label">Nhập lại mật khẩu mới:</label>
        <div class="form-wrapper">
            <i class="fi fi-sr-lock"></i>
            <input type="password" class="form-control" id="confirm_new_password" placeholder="Nhập lại mật khẩu mới"
                   name="confirm_new_password">
        </div>
    </div>

    <div class="d-flex justify-content-between login-register">
        <a href="{% url 'login' %}">Quay lại đăng nhập</a>
        <a href="{% url 'signup' %}">Đăng ký tài khoản mới</a>
    </div>
    <button type="submit" class="btn btn-primary">Tạo lại mật khẩu</button>
</form>
{% endautoescape %}

<div class="support text-center">
    <p>Bạn gặp khó khăn khi đăng nhập?</p>
    <p>Vui lòng liên hệ <a href="#">0123456789</a> để được hỗ trợ.</p>
</div>
<div class="copy-right text-center">©️ 2023. All Rights Reserved. BlueCC VietNam</div>
{% endblock %}