.box {
    width: 80%;
    margin: 0 auto;
}

.box__left {
    margin-right: 20px;
}

.jobapply {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    justify-content: center;
}

.jobapply img {
    width: 300px;
}

.jobapply__tittle {
    text-align: center;
    position: absolute;
    left: 24px;
    top: 12px;
}

.jobapply__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jobapply__head__applied {
    width: 100%;
    margin: 40px 16px 0 16px;
}

.jobapply__head__applied:last-child {
    margin-bottom: 24px;
}

.jobapply__tittle p {
    padding: 5px;
}

.jobapply__tittle button {
    background-color: #38aecc;
    color: #d8e9f7;
    cursor: pointer;
}
