.jobapply {
    height: 400px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobapply img {
    width: 300px;
}

.jobapply__tittle {
    text-align: center;
}

.jobapply__tittle button {
    background-color: #38aecc;
    color: #d8e9f7;
}

.takecare {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.takecare p{
    margin: 5px 0;
}
.takecare img {
    width: 100%;
    object-fit: contain;
}

.takecare__item {
    border-bottom: 1px solid #d8e9f7;
    padding: 15px;
}

.takecare span {
    padding: 20px 10px;
    color: #38aecc;
    font-weight: bold;
}