{% extends 'layout/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css"/>
{% endblock %}

{% block jsbody %}
    <script src="{% static 'settings/js/upload_avatar.js' %}"></script>
    <script>
        const btnVerify = document.querySelector('.btn-verify');
        const alert = document.querySelector('.my_alert')

        btnVerify.addEventListener('click', function () {
            alert.classList.remove('my_alert--hidden')
        });

        function removeAlertBox() {
            alert.classList.add('my_alert--hidden');
        }
    </script>
{% endblock %}

{% block header %}{% include 'layout/header.html' %}{% endblock %}

{% block footer %}{% include 'layout/footer.html' %}{% endblock %}

{% block body %}
    {{ block.super }}
    <div class="my_alert my_alert--hidden">
        <div class="alertbox alertbox--info">
            {% csrf_token %}
            <div class="alertbox__icon"><i class="fa-solid fa-circle-info"></i></div>
            <div class="alertbox__title"><h2>Xác thực tài khoản</h2></div>
            <div class="alertbox__text">Bạn muốn xác thực tài khoản?</div>
            <div class="alertbox__btn btns">
                <div onclick="removeAlertBox(); sendVerificationEmail('{{ request.user.email }}');" class="button button--size-s">
                    Xác thực
                </div>
                <div onclick="removeAlertBox();" class="button button--size-s">Huỷ</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5">
        <div class="box-upload">
            <div class="box-upload__body">
                <label for="input_avatar" class="box-upload-main">
                    <p class="icon_upload"><i class="fa-solid fa-arrow-up"></i></p>
                    <div class="not-cv">
                        <label for="file-upload-cv">Bấm để chọn ảnh của bạn</label>
                        <img width="120px" src="" alt="" style="display: none"/>
                    </div>
                    <form action="{% url 'profile_settings' %}" id="avatar_form" class="form_upload_avatar" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </label>
                <label class="box-btn-upload" for="avatar_form">
                    <button class="=box-btn-upload" form="avatar_form" type="submit">Upload</button>
                </label>
            </div>
        </div>
        <div class="row">
            {% block box_left %}
                <div class="col-sm-8">
                    {% block form %}{% endblock %}
                </div>
            {% endblock %}
            {% block box_right %}
                <div class="col-sm-4">
                    <div class="profile">
                        <div class="profile-info d-flex">
                            <div class="align-self-center profile-avatar">
                                <img src="{{ request.user.avatar }}"
                                     alt="Avatar của
                                            {% if request.user.is_superuser %}
                                                {{ request.user.username }}
                                            {% elif request.user.user.full_name %}
                                                {{ request.user.user.full_name }}
                                            {% else %}
                                                {{ request.user.company.company_name }}
                                            {% endif %}"/>
                                <label class="buton_change_avatar"><i class="fa-solid fa-camera"></i></label>
                            </div>
                            <div class="container pt-3">
                                <p style="margin-bottom:0;">Chào bạn,</p>
                                <p class="fw-bold"
                                   style="margin-bottom:0;">
                                    {% if request.user.is_superuser %}
                                        {{ request.user.username }}
                                    {% elif request.user.user.full_name %}
                                        {{ request.user.user.full_name }}
                                    {% else %}
                                        {{ request.user.company.company_name }}
                                    {% endif %}</p>
                                {% if user_email_verified %}
                                    <span class="text-secondary d-block medium-text text-success">Tài khoản đã xác thực</span>
                                {% elif request.user.is_superuser %}
                                    <span class="text-secondary d-block medium-text text-info">Tài khoản Admin</span>
                                {% else %}
                                    <span class="text-secondary d-block medium-text text-danger">Tài khoản chưa được xác thực</span>
                                    <span class="btn-verify profile-confirm d-block small-text btn btn-outline-info">
                                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Xác thực
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <!---------------->
                        <div class="container">
                            <p class="small-text"><i class="fa fa-check-circle" aria-hidden="true"
                                                     style="color: #38aecc;"></i> Nhắn tin qua Blue Connect trên BlueCC</p>
                            <p class="small-text"><i class="fa fa-check-circle" aria-hidden="true"
                                                     style="color: #38aecc"></i> Email và Số điện thoại của bạn</p>
                        </div>
                        <img class="container pt-3" src="{% static 'settings/images/BlueCCCardboard.png' %}" alt="">
                        <div class="">
                            <p class="container pt-3 small-text text-secondary">
                                <i class="fa fa-info-circle" aria-hidden="true" style="color:#38aecc"></i> Bạn cần hoàn
                                thiện trên 70% CV Profile để bắt đầu tiếp cận với nhà tuyển dụng
                            </p>
                        </div>
                        <a href="{% url 'cv_management' %}">
                            <button type="button" class="btn btn-outline-info ms-2">Cập nhật CV</button>
                        </a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}