body {
    background-color: #F0F0F0;
    padding-top: 100px;
}

/*  */
.box-group-header {
    margin: 0 20px 20px 0;
}

.box-group {
    box-shadow: 2px 2px 3px rgb(128, 128, 128);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.box-group form div div {
    padding: 0;
}

/* Bảng profile bên phải trang web từ đây xuống dưới */
.profile {
    box-shadow: 2px 2px 3px rgb(128, 128, 128);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.profile-avatar {
    position: relative;
    width: 160px;
}

.profile-avatar label {
    position: absolute;
    left: 76px;
    bottom: -8px;
    font-size: 12px;
    background: var(--main-blue);
    color: var(--light-blue);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    width: 28px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px #d8e9f7;
    margin: 10px;
}

.profile-info img {
    width: 100%;
    height: 30%;
    display: flex;
    border-radius: 50%;
}

.profile-info > .icon {
    position: absolute;
    bottom: 16px;
    right: 224px;
}

.profile-info span {
    margin-top: 5px;
    text-align: left;
}

.profile-info p {
    margin-bottom: 10px;
}

.profile-confirm {
    padding: 2px;
    background-color: #d8e9f7;
    color: black;
    border-radius: 10px;
    text-align: center !important;
}

.cv-checking {
    box-shadow: 2px 2px 3px rgb(128, 128, 128);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.cv-box {
    display: flex;
}

.circle-text {
    display: inline-block;
    width: 83px;
    background-color: #d8e9f7;
    border-radius: 50%;
    height: 83px;
    align-items: center;
}

.circle-text p {
    display: block;
    margin: 0;
    text-align: center;
}

.circle-text p:first-child {
    margin-top: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h3 {
    color: #38aecc;
}

a:hover {
    color: black;
}

form.form_upload_avatar p label {
    cursor: pointer;
}

.box-upload {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.box-upload .box-upload__body {
    background-color: #fff;
    padding: 24px 32px;
    width: 30%;
}

.box-upload-main {
    background: rgba(229, 247, 237, .1);
    border: 2px dashed #38AECC;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-top: 32px;
    position: relative;
    text-align: center;
    transition: 0.4s;
    display: block;
    padding: 10px;
}

.box-upload .box-upload-main .box-upload-main form .file_upload_cv {
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.box-upload .icon_upload {
    margin-bottom: 24px;
    margin-top: 32px;
}

.box-upload .icon_upload i {
    color: #ccc;
    font-size: 48px;
    line-height: 44px;
    transition: .4s;
}

.box-upload .not-cv {
    text-align: center;
    cursor: pointer;
    color: #a1a0a0;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.box-upload .not-cv label {
    cursor: pointer;
}

.box-btn-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.box-btn-upload button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #38AECC;
    color: #fff;
    font-weight: 600;
}

.box-btn-upload button:hover {
    background-color: rgb(24, 107, 128);
}

.input_avatar {
    display: none;
}