<footer>
    <div class="logo">
        <span>BlueCC</span>
    </div>
    <div class="d-flex footer__info">
        <div class="footer__item">
            <h3 class="footer-h3">Về chúng tôi</h3>
            <ul>
                <li>Liên hệ</li>
                <li>Hỏi đáp</li>
                <li>Quy định bảo mật</li>
            </ul>
        </div>
        <div class="footer__item">
            <h3 class="footer-h3">Việc làm theo ngành nghề</h3>
            <ul>
                <li>Công nghệ thông tin</li>
                <li>Kế toán - Kiểm toán</li>
                <li>Kinh doanh</li>
                <li>Ngân hàng</li>
            </ul>
        </div>
        <div class="footer__item">
            <h3 class="footer-h3">Việc làm theo khu vực</h3>
            <ul>
                <li>Tp.Hồ Chí Minh</li>
                <li>Hà Nội</li>
                <li>Đà Nẵng</li>
            </ul>
        </div>
        <div class="footer__item">
            <h3 class="footer-h3">Theo dõi chúng tôi trên</h3>
            <ul>
                <li>Linked</li>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </div>
    </div>
    <div class="text-center copy-right">
        <div>Copyright © Công Ty Cổ Phần BlueCC</div>
        <div>
            Đường Nguyễn Bình, Xã Nhơn Đức, huyện Nhà Bè, thành phố Hồ Chí Minh
        </div>
    </div>
</footer>