body
{
    background: #f0f0f0;
}
#manager-cv .banner-manager-cv {
    display: block;
    margin-bottom: 25px;
}

/* CSS OF CV-LIST , CV-UPLOAD */
#manager-cv .box-block {
    border-radius: 5px;
    box-shadow: -1px 1px 6px rgba(0, 0, 0, .05);
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 24px;
    background-color: #fff;
    position: relative;
}

.cv-list-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.cv-list-header .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.btn-add-cv {
    background: var(--main-blue);
    border-radius: 32px;
    color: #fff;
    line-height: 1;
    padding: 11px 16px;
    font-weight: 700;
}

.btn-add-cv:hover {
    color: var(--light-blue);
}

.box-cv {
    border-radius: 5px;
    height: 360px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
}

.box-cv img {
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: .3s;
    width: 100%;
    z-index: 1;
}

.box-bg {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #212f3f);
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}

.title-cv-main {
    position: absolute;
    right: 16px;
    top: 16px;
}

.title-cv-main a {
    background: #fff;
    border-radius: 12px;
    color: #212f3f;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 4px 8px;
}

.box-info {
    bottom: 16px;
    color: #fff;
    left: 16px;
    position: absolute;
    right: 16px;
    z-index: 3;
}

.box-info .title-cv {
    display: flex;
    margin-bottom: 20px;
    margin-top: 0;
}

.box-info > h4 {
    margin-bottom: 15px;
}

.box-info > h4 a {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
    overflow: hidden;
}

.box-info .update {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
}

.box-info .action {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.box-info .action a {
    background: hsla(0, 0%, 100%, .2);
    border-radius: 30px;
    color: #fff;
    line-height: 16px;
    margin-right: 8px;
    padding: 4px 8px;

}

.suggestion-jobs {
    padding: 10px;
}

.suggestion-jobs .job-item {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    display: flex;
    margin: auto auto 15px;
    padding: 16px;
    gap: 16px;
}

.suggestion-more {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-color: var(--main-blue);
    background: var(--main-blue);
    padding: 12px 16px;
    border-radius: 10px;
}

.job-item .avatar {
    height: 100px;
    padding: 8px;
}

.job-item .body {
    display: inline-grid;
    gap: 12px;
    width: 100%;
}

.body-content .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title > div h3 {
    color: var(--dark-blue);
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
}

.title-salary {
    color: var(--main-blue);
    font-size: 15px;
    justify-content: flex-end;
    font-weight: 500;
}

.body .info {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.info .label-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.label-content label {
    background: #e9eaec;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 4px 8px;
}

/* CSS SIDEBAR */

.setting-sidebar {
    padding: 20px 20px 6px;
    border-radius: 8px;
    background-color: #fff;
}

.setting-sidebar_header {
    border-bottom: 1px solid #e6e7e8;
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 16px;
    margin-bottom: 15px;
}

.setting-sidebar_header .profile-avatar {
    height: 84px;
    width: 84px;
}

.profile-avatar img {
    border-radius: 50%;
}

.setting-sidebar_header-inf .welcome {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}


.group-switch {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.switch {
    display: inline-block;
    height: 24px;
    margin-bottom: 1px;
    position: relative;
    width: 42px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.switch .round {
    border-radius: 34px;
}

.switch .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

input[type=checkbox], input[type=radio] {
    line-height: normal;
    margin: 4px 0 0;
    margin-top: 1px \9 !important;
}

.switch .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.switch .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 21px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 21px;
    border-radius: 50%;
}

.switch .round:before {
    border-radius: 50%;
}

.job-waiting-description {
    color: #7f878f;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .12px;
    line-height: 16px;
    margin: 20px 0;
}

.switch input:checked + .slider:before {
    transform: translateX(17px);
}

.text-highlight, .text-highlight:hover {
    color: var(--main-blue);
}

.switch input:checked + .slider {
    background-color: var(--main-blue);
}

.btn-create-profile {
    align-items: center;
    border: 1px solid var(--main-blue);
    border-radius: 4px;
    color: var(--main-blue);
    display: flex;
    font-weight: 700;
    gap: 6px;
    height: 32px;
    justify-content: center;
    letter-spacing: .15px;
    line-height: 16px;
    padding: 6px 12px;
}

/* Bảng Profile */
.profile {
    box-shadow: 2px 2px 3px rgb(128, 128, 128);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.profile-info {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px #d8e9f7;
    margin: 10px;
}

.profile-info img {
    width: 30%;
    height: 30%;
    display: flex;
    border-radius: 50%;
}

.profile-info > .select-button {
    position: absolute;
    bottom: 16px;
    right: 224px;
}

.profile-info span {
    margin-top: 5px;
    text-align: left;
}

.profile-info p {
    margin-bottom: 10px;
}

.profile-confirm {
    padding: 2px;
    background-color: #d8e9f7;
    color: black;
    border-radius: 10px;
    text-align: center !important;
}

.profile-info a i {
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 0;
    right: 0;
}

.cv-checking {
    box-shadow: 2px 2px 3px rgb(128, 128, 128);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.cv-box {
    display: flex;
}

.circle-text {
    display: inline-block;
    width: 100px;
    background-color: #d8e9f7;
    border-radius: 50%;
    height: 100px;
    align-items: center;
}

.circle-text p {
    display: block;
    margin: 0;
    text-align: center;
}

.circle-text p:first-child {
    margin-top: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h3 {
    color: #38aecc;
}

.cv_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cv_list img {
    width: 240px;
    margin-top: 12px;
}